.about__wrapper {
  background-color: #eff8ff;
  padding: 3em;
  margin-bottom: 2em;
  border: 2px solid #aad4f5;
}

.about__text {
  color: #2368a2;
  font-weight: 800;
  line-height: 4vh;
  font-size: 1.4em;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  font-family: 'Alegreya', serif; 
}

@media (max-width: 1700px) {
  .about__text {
    width: 60%;
    font-weight: 600;
  }
}
@media (max-width: 1200px) {
  .about__text {
    width: 80%;
    font-weight: 500;
  }
}
@media (max-width: 800px) {
  .about__text {
    width: 100%;
    font-weight: 450;
    font-size: 1.1em;
  }
  .about__wrapper {
    padding: 20px;
  }
}