@import "../../../styles/animations.css";
 
.tech__logos {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.tech__logos img {
  animation: 2s ease-in 0s 1 fadeIn;
}

.homepage__title {
  color: #fff5aa;
}

.homepage__location {
  color: white;
  font-weight: 800;
}

.homepage__wrapper {
  margin: 7%;
  display: flex;
  justify-content: center;
}


.homepage__title {
  font-size: 2em;
}

.homepage__name {
  font-size: 3em;
  color: #8d79ae;
}

.portrait {
  user-select: none;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-right: 2em;
  border: outset 5px #fff5aa;
}

.portrait img {
  user-select: none;
}

.footer__author {
  animation: 1s ease-out 0s 1 fadeInUp;
}

.homepage__contact {
  display: flex;
  margin-top: 3em;
  width: 50px;
}

.homepage__info__wrapper {
  margin-top: 4em;
}

.contact__hotkey {
  display: none;
}

@media (max-width: 400px) {
  .homepage__location {
    text-align: center;
  }

  .homepage__info__wrapper {
    margin-top: 0;
  }

  .portrait {
    margin: 0;
  }

  .techstack__title {
    display: none;
  }

  .contact__hotkey {
    display: flex;
    margin-top: 4em;
    padding: 2em;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsla(308, 44%, 35%, 0.25);
  }

  .contact__hotkey img {
    width: 50px;
  }
  
}


