@import "../../../styles/animations.css";

.contact__icons, 
.contact__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.contact__wrapper {
  margin-top: 5%;
  background-color: hsla(308, 44%, 35%, 0.25);
  padding: 2em;
}

.contact__icons {
  animation: 0.5s slideInFromRight;
}


.contact__icons img:hover {
  background-color: hsla(308, 45%, 36%, 0.25);
}
.contact__icons img {
  width: 64px;
}

.contact__information {
  padding: 5em;
}

.contact__image {
  width: 700px;
  border: 2px ridge white;
}

.contact__portrait {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

.contact__subheader {
  color: #fff5aa;
}

@media (max-width: 500px) {
  .contact__wrapper {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .contact__portrait {
    height: 125px;
    width: 125px;
    border-radius: 75px;
    margin: 5em 0 0 9em;
  }
  

  .contact__icons img {
    width: 32px;
  }

  .contact__information {
    padding: 0;
    justify-items: center;
  }

  .contact__subheader {
    font-size: 12px;
    text-align: center;
  }
  .contact__image {
    width: 360px;
    height: 269px;
  }
}


@media (max-width: 400px) {
  .contact__wrapper {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .contact__portrait {
    user-select: none;
    height: 125px;
    width: 125px;
    border-radius: 75px;
    margin: 2em 0 0 7.5em;
  }
  

  .contact__icons img {
    width: 32px;
  }

  .contact__information {
    padding: 0;
    justify-items: center;
  }

  .contact__subheader {
    font-size: 12px;
    text-align: center;
  }
  .contact__image {
    user-select: none;
    width: 308px;
    height: 235px;
  }
}
