@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('http://fonts.cdnfonts.com/css/vogue');

/* Main attention font
font-family: 'Titillium Web', sans-serif; */

/* Second attention font 
font-family: 'Alegreya', serif; */

/* 
Support font
font-family: 'Titillium Web', sans-serif; */

#root {
  overflow-x: hidden;
}


.app__wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.navbar__routes,
.footer__links {
  padding: 1em;
}

.navbar__routes ul,
.footer__links ul {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
}

.navbar__routes img {
  width: 25px;
}

.navbar__routes a,
.navbar__routes a:hover,
.footer__links a,
.footer__links a:hover,
.footer__links p {
  text-decoration: none;
  font-weight: 650;
  padding: 5em;
}
.navbar__routes a,
.footer__links a {
  color: #12283a;
}

.navbar__routes a:hover,
.footer__links a:hover {
  color: #3183c8;
}

.footer__links {
  background-color: #eaedef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background-color: #eaedef;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #b2bac2;
}

@media (max-width: 500px) {
  .portrait {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  .navbar__routes,
  .footer__links {
    font-size: 0.8em;
  }

  .homepage__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage__name,
  .homepage__title,
  .homepage__development {
    text-align: center;
  }

  .homepage__title {
    font-size: 1.7em;
  }
  .tech__logos {
    display: flex;
    justify-content: space-between;
  }

  .techstack__title {
    font-size: 1em;
  }

  .navbar__routes ul,
  .footer__links ul {
    justify-content: space-between;
  }

  .navbar__routes a,
  .navbar__routes a:hover,
  .footer__links a,
  .footer__links a:hover {
    font-weight: 800;
    padding: 1em;
  }

  ul {
    padding: 0;
  }
}

@media (max-width: 330px) {
  .navbar__routes,
  .footer__links {
    font-size: 0.6em;
  }

  .tech__logos img {
    width: 25px;
    height: 25px;
    margin: 3px;
  }
}
