@import "../../../styles/animations.css";

.project__header {
  color: white;
}

.project__wrapper,
.project__card {
  display: flex;
  justify-content: space-evenly;
}

.project__card {
  border: solid 1px white;
  flex-basis: 25%
}

.project__wrapper {
  animation-delay: 2s;
  animation: 1s ease-out 0s 1 fadeInUp;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.project__button {
  color: white;
  border: solid 1px white;
  padding: 1em;
  background: linear-gradient(to top, #a04af6, #9600aa);
}

.project__button:hover {
  background: linear-gradient(to top, #be7cff, #bd02d6);

}

.project__image {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.project__card {
  margin: 1em;
}

.project__card:hover {
  transform: scale(1.01);
}

.project__info {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 24px;
  background-color: rgb(141, 59, 141);
}

.button__wrapper {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.link__button,
.link__button:hover {
  background-color: darkgray;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border: 1px ridge black;
}

.link__button:hover {
  color: black;
}

@media (max-width: 500px) {
  .project__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project__card {
    margin: 1em;
  }
}
