.project__wrapper,
.project__card {
  display: flex;
  justify-content: space-evenly;
}

.project__card {
  border: solid 1px white;
  flex-basis: 30%;
  border: solid 2px #aad4f5;
  color: #2368a2;
  background-color: #eff8ff;
}

.project__card:hover {
  box-shadow: 7px 7px 5px 0px  rgba(46, 45, 44, 0.452);
}

.project__text {
  font-size: 15pt;
}

.project__topic {
  color: orange;
}

.project__title {
  text-align: center;
  font-size: 1.4em;
}

.project__wrapper {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10em;
}

.project__image {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.project__card {
  margin: 1em;
}

.project__card:hover {
  transform: scale(1.01);
}

.button__wrapper {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
}

.project__title {
  text-align: center;
  color: #63a2d8;
  margin: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 800;
}

.link__button {
  border-radius: 25%;
  margin-bottom: 1em;
}

.btn:hover {
  color: green;
}

.card-text {
  padding: 5px;
}

@media (max-width: 1200px) {
  .project__card {
    flex-basis: 85%;
  }
}

@media (max-width: 500px) {
  .project__wrapper {
    flex-direction: column;
    align-items: center;
  }
 
  .project__card {
    margin: 1em;
  }

  .project__image {
    height: 300px;
  }

  .project__title {
    font-size: 20px;
  }
}
