.project__wrapper,
.project__card {
  display: flex;
  justify-content: space-evenly;
}

.project__wrapper {
  margin-top: 5%;
}

.project__image {
  object-fit: cover;
  width: 100%;
  height: 150px;

}

.project__card:hover {
  transform: scale(1.01);
}

