.footer__links {
  border-top: solid 1px #bdb7b7;
  background-color: #26262b;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__links ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 500px) {
  .footer__links li {
    font-size: 12px;
  }
}
