.footer__links {
  border-top: solid 1px #bdb7b7;
  background-color: #f5f5f7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__links ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}


