@import url('http://fonts.cdnfonts.com/css/vogue');

.homepage__location {
  color: #12283a;
  font-size: 14px;
  font-weight: 800;
  font-family: 'Titillium Web', sans-serif;
}

.homepage__wrapper {
  margin: 5% 0 3% 0;
  display: flex;
  left: 85px;
  justify-content: center;
}

.homepage__title {
  color: #2368a2;
  font-size: 2em;
  font-family: 'Alegreya', serif;
}

.homepage__name {
  font-family: 'Vogue', sans-serif;
  font-weight: 800;
  font-size: 8em;
  /* color: #3183c8; */
}

.portrait {
  user-select: none;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-right: 2em;
  filter: drop-shadow(5px -6px 5px #88888f);
}

.portrait img {
  user-select: none;
}

.footer__author {
  color: #2368a2;
}

.homepage__contact,
.homepage__hotlinks {
  display: flex;
  justify-content: center;
}


.homepage__hotlinks img {
  max-width: 200px;
  margin: 20px;
}

@media (max-width: 500px) {
  .homepage__location {
    text-align: center;
  }

  .homepage__info__wrapper {
    margin-top: 0;
  }

  .portrait {
    margin: 0;
  }

  .homepage__hotlinks img {
    max-width: 100px;
  }

  .homepage__location {
    text-align: center;
  }
  
}


