.homepage__header {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage__name {
  font-size: 5em;
}

.homepage__role {
  text-align: center;
  font-size: 25px;
  color: #a9a9ac;
}

.homepage__content {
  text-align: center;
}

@media (max-width: 500px) {
  .homepage__name {
    font-size: 4em;
  }

  .homepage__header {
    padding-top: 10%;
  }
}
