.cv__wrapper {
  display: flex;
  color: white;
  margin: 0 0 2em;
}

.cv__description--edu {
  color: black;
}

.cv__study {
  text-align: left;
}

.cv__view-subjects {
  text-decoration: underline;
}

.cv__wrapper p {
  margin: 1em;
  color: #343a40;
  font-size: 14px;
}

.cv__date {
  color: #1a4971;
}

.cv__wrapper img {
  max-height: 75px;
  max-width: 75px;
}

