.portfolio__experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5em 5em 5em;
}

.portfolio__experience--category {
  text-align: center;
  color: #141414;
}

.portfolio__experience__card,
.portfolio__education {
  background-color: #ffffff;
  border: solid 2px #bdb7b7;
  padding: 1em;
  margin: 1em;
  text-align: center;
  min-width: 350px;
}

.portfolio__experience--title,
.portfolio__wrapper--title {
  font-weight: 650;
  text-align: center;
  margin-top: 2em;
}

.cv__wrapper {
  justify-content: space-between;
}

.portfolio__wrapper {
  display: flex;
  justify-content: center;
}

.portfolio__page {
  margin-bottom: 15%;
}

.portfolio__education {
  margin-top: 2em;
  background-color: #ffffff;
  border: solid 2px #bdb7b7;
  flex-basis: 50%;
}

.portfolio__education p {
  font-size: 17px;
}

.portfolio__experience--category__wrapper {
  display: flex;
  justify-content: space-between;
}

.iconify {
  width: 50px;
}

.portfolio__education img {
  display: flex;
  max-width: 100%;
}

@media (max-width: 500px) {
  .portfolio__education p {
    font-size: 12px;
  }

  .portfolio__experience {
    margin: 0;
  }

  .portfolio__experience--category {
    font-size: 20px;
  }

  .portfolio__experience--title,
  .portfolio__wrapper--title {
    font-size: 20px;
    margin: 15px 0 0 8px;
  }

  .portfolio__experience,
  .portfolio__wrapper {
    flex-direction: column;
  }

  .portfolio__education img {
    width: 300px;
  }
}
