@import "../../../styles/animations.css";

.portfolio__header {
  display: flex;
}

.portfolio__points {
  color: white;
  text-align: center;
}

.portfolio__header {
  justify-content: center;
  font-size: 2em;
  color: white;
}

.portfolio__experience {
  display: flex;
  justify-content: center;
  margin: 0 5em 5em 5em;
}

.portfolio__experience--category {
  text-align: center;
  color: #fff5aa;
}

.portfolio__experience__card {
  background-color: rgba(46, 45, 44, 0.452);
  border: 3px solid  #bebebe;
  padding: 1em;
  margin: 1em;
}

.portfolio__experience--title {
  text-align: center;
  color: #fff5aa;
  margin-top: 2em;
}

.portfolio__event {
  color: coral;
}

.portfolio__date {
  color: purple;
}

.portfolio__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.portfolio__work,
.portfolio__education {
  margin-top: 2em;
  border: 5px solid #bebebe;
  background-color: rgba(46, 45, 44, 0.452);
}
.portfolio__work p,
.portfolio__education p {
  font-size: 17px;
}