.project__wrapper,
.project__card,
.button__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.project__card {
  flex-basis: 70%;
  margin: 1em;
}

.project__text {
  font-size: 13pt;
  text-align: center;
}

.project__topic {
  color: black;
}

.project__title {
  text-align: center;
  font-size: 1.4em;
  color: #141414;
  margin: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 800;
}

.project__wrapper {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10em;
}

.project__image {
  object-fit: cover;
  height: 250px;
}

.link__button {
  margin-bottom: 1em;
}

.btn:hover {
  color: green;
}

.primaryButton {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.primaryButton:hover {
  background-color: #0062cc;
  cursor: pointer;
}

@media (max-width: 768px) {
  .portfolio__experience--title {
    margin-top: 4em;
  }

  .project__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project__image {
    height: 300px;
  }

  .project__title {
    font-size: 20px;
  }
}

