.projects {
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .project:last-child {
    border: unset;
  }
}

.project {
  height: 320px;
  padding: 16px;
  border-bottom: solid 1px #bdb7b7;
}

.project:hover {
  border-color: black;
}
