.chat {
  display: flex;
  flex-direction: column;
  margin: 5%;
  background-color: #eff8ff;
  width: 20%;
}

.chat p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  color: white;
  text-align: center;
}

.chat h1 {
  color: white;
  text-align: center;
}

.chat header {
  display: flex;
  justify-content: space-between;
  background-color:  #1a4971;
  padding: 1em;
}

.chatBoard {
  padding: 1em;
  overflow-y: scroll;
  height: 35vh;
}

.chatBoard::-webkit-scrollbar {
  width: 0.25rem;
}

.chatBoard::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chatBoard::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.profilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.message {
  display: flex;
  align-items: center;
}

input {
  width: 60%;
  padding: 1em;
  background-color: azure;
}

.chatButton {
  width: 40%;
  padding: 1em;
}

.sendMessage:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: black;
}

.sendMessage {
  background-color: #63a2d8;
  color: white;
}

.signOut,
.signIn {
  background-color: #eff8ff;
  color: black;
  font-size: 1em;
}

.chatInfo {
  border: 2px solid #aad4f5;
}

.chatInfo p {
  margin: 0 auto;
  padding: 0;
  color: #3183c8;
}

.sent,
.received {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #67646d;
  align-self: flex-end;
}

.received p {
  background: #bebec5;
  color: black;
}

@media (max-width: 1700px) {
  .chat {
    width: 30%;
  }
}
@media (max-width: 1500px) {
  .chat {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .contact {
    flex-direction: column;
  }
  .chat {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5em;
    margin-top: 2em;
  }
}


@media (max-width: 1199px) {
  .chat {
    width: 100%;
  }
  .chat h1 {
    font-size: 1.5em;
  }
  .signIn {
    padding: 0;
  }
}



