@import "../../../styles/animations.css";

.contact__wrapper {
  display: flex;
  justify-content: center;
}

.contact__icons {
  display: flex;
  justify-content: space-evenly;
}

.contact__wrapper {
  flex: 1;
  margin-top: 5%;
  background-color: #eff8ff;
  border: 2px solid #aad4f5;
  padding: 2em;
  width: 100%;
  height: 100%;
}

.contact__icons {
  flex-direction: column;
  animation: 2s fadeIn;
}

.contact__icons img {
  width: 64px;
}

.contact__information {
  animation: 2.5s slideInFromLeft;
  padding: 5em;
}

.contact__portrait {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

.contact__subheader {
  color: #3183c8;
}

.contact {
  display: flex;
}

.contact__name {
  color: #1a4971;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

@media (max-width: 500px) {
  .contact__wrapper {
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 35%;
  }

  .contact__portrait {
    height: 125px;
    width: 125px;
    border-radius: 75px;
    margin: 5em 0 0 9em;
  }
  
  .contact__name {
    font-size: 1.5em;
  }

  .contact__icons img {
    width: 32px;
  }

  .contact__information {
    padding: 0;
    justify-items: center;
  }

  .contact__subheader {
    font-size: 12px;
    text-align: center;
  }
  .contact__image {
    width: 360px;
    height: 269px;
  }
  .contact__icons {
    flex-direction: row;
  }
}


@media (max-width: 400px) {
  .contact__wrapper {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .contact__portrait {
    user-select: none;
    height: 125px;
    width: 125px;
    border-radius: 75px;
    margin: 2em 0 0 7.5em;
  }
  

  .contact__icons img {
    width: 32px;
  }

  .contact__information {
    padding: 0;
    justify-items: center;
  }

  .contact__subheader {
    font-size: 12px;
    text-align: center;
  }
  .contact__image {
    user-select: none;
    width: 308px;
    height: 235px;
  }
}
