@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slightSlideRight{
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slightSlideLeft{
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slightSlideUp{
  0% {
    transform: translateY(-.2%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,10px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
