.navbar__routes,
.footer__links {
  background-color: #1a4971;
  padding: 1em;
}

.navbar__routes ul,
.footer__links ul{
  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-around;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
}

.navbar__routes a,
.footer__links a,
.footer__links p {
  padding: 1em;
}
.navbar__routes a,
.navbar__routes a:hover,
.footer__links a,
.footer__links a:hover {
  text-decoration: none;
  font-weight: 800;
}
.navbar__routes a,
.footer__links a{
  color: #eff8ff;
}

.navbar__routes a:hover,
.footer__links a:hover,
.footer__author {
  color: #3183c8;
}


.footer__links {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background-color: #eaedef;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: .75rem;
}

body::-webkit-scrollbar-track {
  background: #1a4971;
}

body::-webkit-scrollbar-thumb {
  background: #dee2e6;
}

@media (max-width: 500px) {
  .portrait {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  .navbar__routes,
  .footer__links {
    font-size: 0.8em;
  }

  .homepage__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage__name,
  .homepage__title,
  .homepage__development {
    text-align: center;
  }
  
  .homepage__title {
    font-size: 1.7em;
  }
  .tech__logos {
    display: flex;
    justify-content: space-between;
  }

  .tech__logos img{
    display: none;
  }

  .techstack__title {
    font-size: 1em;
  }

  ul {
    padding: 0;
  }
}

@media (max-width: 330px) {
  .navbar__routes,
  .footer__links {
    font-size: 0.6em;
  }

  .tech__logos img{
    width: 25px;
    height: 25px;
    margin: 3px;
  }
}